@model IEnumerable<MVCLAPTOP.Models.CHUDE>

@{
    ViewBag.Title = "chudesp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm</h2>

<p>
    @Html.ActionLink("Thêm chủ đề", "Themmoicdsp")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenChuDe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenChuDe)
        </td>
        <td>
            @Html.ActionLink(" Sửa", "SuaCD", new { id=item.MaCD }) |
          
            @Html.ActionLink("Xóa", "XoaCD", new { id=item.MaCD })
        </td>
    </tr>
}

</table>
